.insurance_box{
    border:1px solid mediumseagreen;
   
    margin-left: 0.0%;
}
.material-icons.orange600 {
     color: #FB8C00; 
     }
     .material-icons.red100{
       color: darkred;
     }
     .material-icons.green200{
       color: mediumseagreen;
     }
    
     
    
     